@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* VARIABLES */
/* todo lo que pongamos en root podra ser accedido desde las clases de abajo */
:root {
  --green-color:#7ACC2D;
  --white-color:white;
  --black-color:#313337;


  /* Espaciado */
  --space:10px;

  /* Tipografia */
  --normal:12px;

  /* Box Shadow */
  --box:0px 0 2px 1px #e6e5e9;
}
/* VARIABLES */


html,body{
/*padding espaciado hacia adentro del elemento*/
  padding: 0px;
/*margin espaciado hacia afuera del elemento*/
  margin:0px;
/* tipografia: tamaño letra */
  font-size: var(--normal);
/* tipografia: fuente de la letra   */
  font-family: 'Open Sans', sans-serif;

}



/*                                 estilos de navBar                 */
nav{
/* flex ayuda a pasar elementos de vertical a horizontal, forma en que se despliega */
  display: flex;
/* color de fondo */
  background-color:var(--green-color);
/* generar espacios */
  padding: var(--space);
/* color de letra */
  color:var(--white-color);
/* separar los elementos de un lado hacia el otro */
  justify-content: space-between;
/* alinear hacia el centro vertical, los elementos del nav */
  align-items: center;


}

/* anidacion de estilos, para coger una clase que esta dentro de otra */
nav ul{
/* pasar elementos de vertical a horizontal */
  display: flex;
}

nav li{
/* todos los li de nav, tengan un pading a la derecha o izquierda de pixeles */
  padding-left: 20px;
/* quitar el circulo o item que lo pinta como lista */
  list-style: none;
}

nav li a{
  /* color del texto */
    color:var(--black-color);
  /* quitar el texto subrayado o otra decoracion */
    text-decoration: none;
}

/* editamos los estilos de un boton de la clase que le pasemos */
nav li a:hover{
/* color de las letras al pasar el click como si fuera un boton */
  color:var(--white-color);
}


/*                             Main Section                      */

.main_section{
  /* espaciado con padding */
  padding: 20%;
  /* alineamos el texto al centro de la pagina */
  text-align: center;
}

/* seccion de productos */
.products{
  /* fondo de la imagen */
  background-image: url("../images/curve.png");
  /* tamaño de la imagen */
  max-height: 50px;
 /* para que la imagen ocupe el tamaño del div que tiene */
  background-size: cover;
  /* para que se alinee hacia el centro, top para que se alinee hacia arriba */
  background-position: center top;
  /* padding para divicion entre los elementos y lo que contiene */
  padding: 20%;
/* para que se desplieguen de forma horizontal */
  display: flex;
}

.product .content{
  background-color: var(--white-color);
  padding: 15px;
  /* generar sombra alrededor del componente */
  box-shadow: var(--box);
}

.product{
  /* dividir distancia entre productos */
  padding: 10px;
 /* jugar con estos valores mueve los productos de arriba hacia abajo  */
  margin-top: -200px;
}

.img_content{
  /* alinear imagenes al centro del contenedor */
  text-align: center;
}
/* clase creada para darle el tamaño a la imagen */
.img_content .pequeña{
  width: 100px; height: 100px;
}

/* estilos para el boton de la tarjeta de producto */
.main_button{
  /* color del boton */
  background-color:var(--green-color);
/* 100 para que ocupe todo el espacio de la tarheta */
  width: 100%;
  padding:10px;
  font-size: var(--normal);
  color:var(--white-color);
  border:0;
  /* para que aparezca la mano en el mouse como si fuera un boton  */
  cursor: pointer;
  border-radius: 2px;
}

/* efectos de interacion en los botones */
.main_button:hover{
  /* en el inspector buscamos un color adecuado de como que se presiona */
  background-color: #5e9e22;

}
