@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* VARIABLES */
/* todo lo que pongamos en root podra ser accedido desde las clases de abajo */
:root {
  --green-color:#7ACC2D;
  --white-color:white;
  --black-color:#313337;


  /* Espaciado */
  --space:10px;

  /* Tipografia */
  --normal:12px;

  /* Box Shadow */
  --box:0px 0 2px 1px gray;
}
/* VARIABLES */


html,body{
/*padding espaciado hacia adentro del elemento*/
  padding: 0px;
/*margin espaciado hacia afuera del elemento*/
  margin:0px;
/* tipografia: tamaño letra */
  font-size: var(--normal);
/* tipografia: fuente de la letra   */
  font-family: 'Open Sans', sans-serif;

}




/*                                 estilos de navBar                 */
nav{
/* flex ayuda a pasar elementos de vertical a horizontal, forma en que se despliega */
  display: flex;
/* color de fondo */
  background-color:var(--green-color);
/* generar espacios */
  padding: var(--space);
/* color de letra */
  color:var(--white-color);
/* separar los elementos de un lado hacia el otro */
  justify-content: space-between;
/* alinear hacia el centro vertical, los elementos del nav */
  align-items: center;
}

/* anidacion de estilos, para coger una clase que esta dentro de otra */
nav ul{
/* pasar elementos de vertical a horizontal */
  display: flex;
}

nav li{
/* todos los li de nav, tengan un pading a la derecha o izquierda de pixeles */
  padding-left: 20px;
/* quitar el circulo o item que lo pinta como lista */
  list-style: none;
}

nav li a{
  /* color del texto */
    color:var(--black-color);
  /* quitar el texto subrayado o otra decoracion */
    text-decoration: none;
}

/* editamos los estilos de un boton de la clase que le pasemos */
nav li a:hover{
/* color de las letras al pasar el click como si fuera un boton */
  color:var(--white-color);
}


/*                             Main Section                      */

.main_section{
  /* espaciado con padding */
  padding: 5%;
  /* alineamos el texto al centro de la pagina */
  text-align: center;
}

/* seccion de productos */
.products{
  /* fondo de la imagen */
  background-image: url("../images/curve.png");
  /* tamaño de la imagen */
  max-height: 200px;
 /* para que la imagen ocupe el tamaño del div que tiene */
  background-size: cover;
  /* para que se alinee hacia el centro, top para que se alinee hacia arriba */
  background-position: center top;
  /* padding para divicion entre los elementos y lo que contiene */
  padding: 20%;
/* para que se desplieguen de forma horizontal */
  display: flex;
}

.product .content{
  background-color: var(--white-color);
  padding: 20px;
  /* generar sombra alrededor del componente */
  box-shadow: var(--box);
}

.product{
  /* dividir distancia entre productos */
  padding: 15px;
 /* jugar con estos valores mueve los productos de arriba hacia abajo  */
  margin-top: -250px;
}

.img_content{
  /* alinear imagenes al centro del contenedor */
  text-align: center;
}

/* clase creada para darle el tamaño a la imagen  en el momento no la estoy usando*/
.img_content .pequeña{
  width: 150px; height: 150px;
}

/* estilos para el boton de la tarjeta de producto */
.main_button{
  /* color del boton */
  background-color:var(--green-color);
/* 100 para que ocupe todo el espacio de la tarheta */
  width: 100%;
  padding:var(--space);
  font-size: var(--normal);
  color:var(--white-color);
  border:none;
  /* para que aparezca la mano en el mouse como si fuera un boton  */
  cursor: pointer;
  border-radius: 2px;
}

/* efectos de interacion en los botones */
.main_button:hover{
  /* en el inspector buscamos un color adecuado de como que se presiona */
  background-color: #5e9e22;
}

.contenido{
  text-align: center;
  display: flex;
  padding: 20px;
}

.informacion{
  padding: 5%;
}

.informacion .h1{
  text-align: center;
  font-size: 10px;
}
.informacion .p{
  text-align: center;
  font-family: var(--normal);
  font-size: 1.3rem;
  width: 230px;
  height: 150px;
  margin: 2rem auto;
}

.titulo_mencion{
  text-align: center;
}

.mencionados{
  display: flex;
  margin: 5%;
}

.mencion{
  margin: 10px;
  border:1px solid gray;
  box-shadow: var(--box);
}
.mencionados .mencion .titulo{
  text-align: center;
}

.mencion .imagen{
  text-align: center;
  margin: 0;
  width: 100%;
  border-radius: 0px;
}

.footer{
  background-color: cadetblue;
}
.footer .informacion{
  display: flex;
  justify-content: space-between;
}

/* ------------------------------VENTA--------------------------- */
.modulo_pago{
  background-color: var(--white-color);
  box-shadow: var(--box);
  /* pading interno */
  padding:var(--space); 
}
.modulo_pago_images{
  /* maximo de ancho no sea mayor a 200px */
  max-width: 200px;
  width: 100%;
  text-align: center;
  /* si la imagen no abarca el 100 porciento, lo que sobre lo aplica tanto a la derecha como izquierda por eso de centra */
  margin: auto;
}

label{
  font-size: var(--normal);
  /* padding-bottom: var(--space); */
}

/* podemos seleccionar los imputs de una determinada clase asi  */
.modulo_pago input{
  /* para separar los label de los inputs */
  margin-top: var(--space);
  /* para que lleguen al maximo de ancho */
  width: 100%;
  /* le damos altura */
  height: 35px;
  /* esquinas redondeadas */
  border-radius: 2px;
  /* tipo de borde para que no se vea feo */
  border: 1px solid var(--black-color);
}