/* container padre de row padre de col */
.container{
    /* para que el container no crezca mas alla del valor determinado */
    max-width: 900px;
    /* para que el container se alinee hacia el centro */
    margin: auto;
}
.row{
    display: flex;
}

.col-1{
    /* 100/12=8.33333 es el valor de cada columna*/
    width: 8.33333333333%;
}
.col-2{
    width:16.666666666% ;
}
.col-3{
    width: 24.99999999%;
}
.col-4{
    width: 33.333333332%;
}
.col-5{
    width: 41.666666665%;
}
.col-6{
    width: 49.999999998%;
}
.col-7{
    width: 58.333333331%;
}
.col-8{
    width: 66.666666664%;
}
.col-9{
    width: 74.999999997%;
}
.col-10{
    width: 83.333333333%;
}
.col-11{
    width: 91.66666663%;
}
.col-12{
    width:100%;
}
/* sistema de reglas generales para las columnas */
.col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-9,.col-10,.col-11,.col-12{

    /* padding para que en el momento que un grid tenga mucho texto no se choque con los otros grid al hacer responsive */
    padding: 10px;
}
/* responsive para las columnas  */
@media (max-width:900px){
    .row{
        display: inherit;
    }

    .col-1,.col-2,.col-3,.col-4,.col-5,.col-6,.col-7,.col-8,.col-9,.col-9,.col-10,.col-11,.col-12{
        width: 100%;
    }

}